/* CSS Document */
#mytable2 a {
	color: #c75f3e;
}

#mytable2 {
	width: 100%;
	padding: 0;
	margin: 0;
}
#mytable2 th.headerSortUp  {
	background-image: url(images/asc.gif);
}
#mytable2 th.headerSortDown  {
	background-image: url(images/desc.gif);
}
#mytable2 #mytable2 thead tr .header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
#mytable2 caption {
	padding: 0 0 5px 0;
	width: 100%;	 
	font: italic 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}

#mytable2 th {
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	border-left: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background-color: #CCCCCC;
}

#mytable2 th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

#mytable2 td {
	border-left: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}


#mytable2 td.alt {
	border-left: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #EFEFEF;
	color: #797268;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

#mytable2 th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

#mytable2 th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(../images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}